p,
h1,
h2{
    font-family:  "Plantin W01 Light", "Georgia", "Times", "Times New Roman", serif;
    font-weight: bold;
    margin:0;
    color: #1E1E1E;
}
nav{
    display: flex;
    position: absolute;
    height: 30px;
    width: 100%;
    max-width: 100%;
    background-color: #f1f1f1;
    box-shadow: none;
    opacity: .7;
    z-index: 4;
}
nav span{
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px #fff;
    opacity: .37;
    z-index: 1;
}
nav .pesquisa{
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    right: 0;
    box-sizing: border-box;
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 22px 22px;
    z-index: 1;
}
.slide{
    display: block;
    position: relative;
    max-width: 100%;
    background-color: #fff;
}
.psychoback{
    display: block;
    position: absolute;
    height: 600px;
    width: 80%;
    right: 0;
    top: 0;
    background-color: #000;
    background-image: url('../img/astro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}
.conteudo{
    display: block;
    position: relative;
    min-height: 600px;
    min-width: 350px;
    max-width: 30%;
    padding: 90px 20px 30px 20px;
    z-index: 1;
}
.conteudo div{display: none;}
.conteudo div p{
    font-size: 20;
}
.livros{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-top: 20px;
    min-height: 370px;
    overflow: hidden;
    z-index: 1;
}
.slide .livros .box{
    display: block;
    position: relative;
    height: 350px;
    width: 220px;
    margin: 5px;
}
.slide .livros .box div{
    display: block;
    position: absolute;
    min-height: 190px;
    width: 182px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px;
    text-align: center;
}

p{
    font-size: 15px;
} 
h2{
    font-size: 20px; 
}
h1{
    font-size: 30px;
} 
.autor{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
}

#i1:checked ~ .conteudo{background: #fff;}
#i1:checked ~ .conteudo .p1{display: inline;} 
#i1:checked ~ .livros{background: #1E1E1E;}

#i2:checked ~ .conteudo{background: #FEF46C;}
#i2:checked ~ .conteudo .p2{display: inline;}
#i2:checked ~ .livros{background: #AC958F;}

#i3:checked ~ .conteudo{background: #F89E37;}
#i3:checked ~ .conteudo .p3{display: inline;}
#i3:checked ~ .livros{background: #F175AE;}

#i4:checked ~ .conteudo{background: #286BB5;}
#i4:checked ~ .conteudo .p4{display: inline;}
#i4:checked ~ .livros{background: #ED3B2C;}

#i5:checked ~ .conteudo{background: #006AFF;}
#i5:checked ~ .conteudo .p5{display: inline;}
#i5:checked ~ .livros{background: #010290;}

#i6:checked ~ .conteudo{background: #fff;}
#i6:checked ~ .conteudo .p6{display: inline;}
#i6:checked ~ .livros{background: #fff;}

.livros label label span{
    display: block;
    position: absolute;
    transform: translateY(-600px);
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px #000;
    opacity: 1;
    z-index: 3;
}
.flow{
    height: 220px;
    width: 100%;
    background-color: #1E1E1E;
}

@media screen and (max-width: 767px) {
    .slide{
        position: relative;
        width: 100%;
        background-color: #fff;
    }
    .psychoback{
        display: block;
        position: relative;
        height: 450px;
        width: 100%;
    }

    .conteudo{
        display: block;
        position: relative;
        min-height: 200px;
        max-height: 650px;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 90px 20px 30px 20px;
        top: 0px;
        left: 0;
        background-color: #fff;
        z-index: 1;
    }
    .livros{
        display: flex;
        position: relative;
        width: 100%;
        top: 0px;
        left: 0;

    }
}