/*Padrões*/
* {
    /*Box*/
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
    /*Texto*/
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    direction: ltr;
    list-style-type: none;
    /*Links*/
    text-decoration: none; 
    /*Tela*/
    /*Tabelas*/
    border-collapse: collapse;    
    /*Background*/
    background-size: cover;
    background-position: center;
    /*Antialising (Tirar Serrilhado)*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*centralizador*/
table,
.seta,
.seta::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*container*/
.container {
    width: 100%;
    height: 100%;
}
/*linhas horizontais*/
.limite::before {
    content: "";
    width: 100%;
    border-bottom: 1px solid black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    position: absolute;
}
/*Filtro*/
body {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(250, 250, 250));
}

    filter: sepia(.9);
    filter: hue-rotate(60deg);
    filter: blur(10px);
    filter: contrast(500%);
*/
