/*main*/
/*video*/
#video1,
#video2,
#video3,
#video4,
#video5,
#video6,
#video7
{ 
    cursor: pointer;
    text-align: center;
    height: 350px;
    background-color: #A5A5A5;
    width: 100%;
    overflow: hidden;
}
.video {
    cursor: pointer;
    text-align: center;
    background-color: #A5A5A5;
    max-height: 300px; max-width: 400px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);
}
#videoVendas { padding: 20px 25%; }
.seta {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 45px;
    width: 45px;
    border: 2px solid white;
    border-radius: 50%;
}
.seta::after {
    content: "";
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
    background-image: url('imagens/seta.png');
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*comentarios*/
#comentarios {
    height: 400px;
    width: 100%;
    background-color: white;
    color: black;
    overflow: hidden;
}
#comentarios .Nossamensagem {
    display: inline-block;
    top:50%;
    transform: translateY(-50%);
    font-size: 27px;
    width: 35%;
    max-width: 40%;
    padding:20px;
    text-align: center;
    vertical-align: middle;
}
#comentarios .comentarios {
    height: 100%;
    width: 65%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}
.comentarios::after {
    content: "";
    height: 60%;
    border-right: .5px solid black;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    position: absolute;
}
#comentarios p {
    text-align: justify;
    padding: 100px;
    font-size: 20px;
    position: absolute;
}
#comentarios p::after {
    content: "❞";
}
#comentarios p::before {
    content: "❝";
}
.c1, .c2, .c3 {
    opacity: 0;
}
.comentarios .controladores {
    min-height: 10px;
    min-width: 50px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
input[type="radio"] {
    display: none;
}
    label {
        height: 12px;
        width: 12px;
        margin: 0px 2px;
        position: relative;
        display: block;
        transition: .4s;
        cursor: pointer;
        position: relative;
        border-radius: 50%;
    }
    #i1:checked ~ main .c1,
	#i2:checked ~ main .c2,
	#i3:checked ~ main .c3{
        transition: 2s;
	    transition: visibility 0ms, opacity 1s linear;
        animation: scroll 1s ease-in-out;
        opacity: 1;
    }
    #dot1, #dot2, #dot3 {
        background-color: #000000;
    }
    #i1:checked ~ main #dot1,
	#i2:checked ~ main #dot2,
	#i3:checked ~ main #dot3{
        background-color:  #e50914;
        opacity: .5;
    }
/*vendas*/
#vendas {   
    overflow: hidden;
}
#vendas .vendas {
    padding: 50px 0 50px 0;
    width: 100%;
    padding: 20px;
    margin: auto;
    text-align: center;
}
#vendas .vendas h2 {
    font-size: 20px;
    color: white;
}
#vendas img {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.l {
    height: 95%;
    left: 2%;
    cursor: pointer;
}
.r {
    height: 50px;
    right: 2%;
    cursor: pointer;
}

/*Responsividade*/
@media screen and (max-width: 768px) {
    /*main*/
    #video1,
    #video2,
    #video3,
    #video4,
    #video5,
    #video6,
    #video7
    { height: 200px; }
    .video { max-height: 90%; max-width: 100%; }
    #videoVendas { padding: 25px 5px; }
    /*venda*/
    #comentarios .Nossamensagem { font-size: 16px; }
    #comentarios p { padding: 60px 20px; font-size: 12px; }
        label { height: 16px; width: 16px; }
}
